<h1>Those are all our lovely pillow!</h1>

<div class="container">
  <div class="row">
    <% @pillows.each do |pillow| %>
      <%= render 'shared/card', pillow: pillow %>
    <% end %>
  </div>
</div>
