<div class="wrapper wrapper-margin-top" id="center-top">
  <p class="funky-pic">.</p>
    <h1>Dicover our terrific pillows</h1>
    <p>
      And please don't get distracted by our awesome 90's design
    </p>
  <p class="funky-pic">.</p>
</div>


<div class="pillow-container-grid">
  <div class="row p-2 mb-3 justify-content-between">
    <% @pillows.each do |pillow| %>
    <%= render 'shared/card', pillow: pillow %>
    <% end %>
  </div>
</div>
