// Specific CSS for your home-page
.banner-on-banner h1 {
  font-family: Bangers;
  font-size: 60px;
  margin-bottom: 6px;
  padding-bottom: 14px;
  padding-top: 22px;
  padding-left: 11px;
  padding-right: 16px;
}

#h3-style {
  font-size: 2rem;
  text-align: center;
  width: 666px;
  margin: auto;
}

body {
  background: white;
}

.banner {
  background-image: url(image_path("funky-one"));
  height: 533px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.button-banner {
  background: #FFC3BB;
  border-radius: 9px;
  text-color: white;
  width: 177px;
  text-align: center;
  padding: 8px;
  margin-top: 18px;
  font-size: 29px;
  font-weight: 900;
  &:hover {
      background: #5dd3ca;
    }
}

.subtext {
  background-color: #FFC3BB;
  padding: 27px;
  margin-top: 50px;
}

.banner-on-banner {
  background: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  border-color: black;
  border: solid;
  border-radius: 21px;
  // cursor:url('https://icons8.com/icons/set/pillow');
}

.gif  {
  text-align: center;
}

#ul-home {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 14px;
  border: solid;
  border-color: #4351C6;
}
  h2 {
    color: rgb(72, 72, 72);
  }
  h3{
    color: rgb(118, 118, 118);
  }
  p{
    color: rgb(118, 118, 118);
  }
  img{
    border-radius: 8px;
  }

