<div class='card-pillow'>
  <div class="pillow-card-cover" style='background-image: url(<%= pillow.image %>)'>

  </div>
  <div class="pillow-card-content">
    <div class="pillow-card-info">
      <h2 class='pillow-name'> <%= pillow.name %> </h2>
      <h3 class='pillow-category'> <%= pillow.category %></h3>
    </div>
    <p class='pillow-description'> <%= pillow.description %> </p>
  </div>
</div>
