
<div class="banner">
  <div class="banner-on-banner"><h1>You can't own all Pillows</h1>
    <h2>But you can rent them!</h2>
    <p class="button-banner"><%= link_to 'GET EM ALL', pillows_path %></p>
  </div>
</div>

<!-- <img src="https://img.icons8.com/ios/50/000000/pillow.png">
 -->

<div class="subtext">
  <h3 id="h3-style">
    <strong>A wise weirdo once said...</strong>
  </h3>
  <br>
  <h3 id="h3-style"> Softly cushion
     my weary head
     with feathered delight
     that will propel
     me into the pastel
     backdrop of sugary dreams
     <br>
     - I love you little pillow
     <img src="https://img.icons8.com/ios/50/000000/pillow.png">
  </h3>
</div>

<div class="gif">
    <iframe src="https://giphy.com/embed/d2jsIygHeoPqvOgg" width="1000" height="900" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>

<div class="footer-home">
  <ul id="ul-home">
    <li><img src="https://img.icons8.com/wired/64/000000/superman.png"></li>
    <li><img src="https://img.icons8.com/wired/64/000000/road-worker.png"></li>
    <li><img src="https://img.icons8.com/wired/64/000000/cat-butt.png"></li>
    <li><img src="https://img.icons8.com/wired/64/000000/alpaca.png"></li>
  </ul>
</div>

