<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1>Get your Seatbelt fasted!</h1>
  <h2>This is Pillow Talks</h2>
  <br>
  <br>
  <p class="button"><%= link_to 'Browse the pillows', pillows_path %></p>
</div>


