.button {
  background: black;
  border-radius: 9px;
  text-color: white;
  width: 177px;
  text-align: center;
  padding: 8px;
}

.button-detail {
  background: black;
  border-radius: 9px;
  width: 177px;
  text-align: center;
  padding: 12px;
  font-size: 22px;
  a {
    text-decoration: none;
    color: white;
  }
}
