.button-detail {
  background: #FFC3BB;
  border-radius: 8px;
  width: 177px;
  text-align: center;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #4351C6;
  }
}
