.card-pillow{
  display: flex;
  width: 800px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  margin: 5px;
    &:hover {
  box-shadow: 0 15px 35px rgba(126,87,88,.1),0 5px 15px rgba(0,0,0,.07);
    }
}

.pillow-card-content{
  padding: 15px;
  height: 132px;
  h2 {
    font-size: 20px;
    color: rgb(72, 72, 72);
  }

  h3{
    font-size: 18px;
    color: rgb(118, 118, 118);
  }
  p{
    font-size: 14px;
    color: rgb(118, 118, 118);
  }
}

.pillow-card-image{
  background-size: cover;
  height: 300px;
  width: 300px;
  background-position: 50%;
  border-radius: 4px;
  margin: 4px;
}

.pillow-card-info{
  // display: flex;
  // justify-content: space-between;
}

