.card-pillow{
  display: flex;
  width: 800px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #FFC3BB;
    &:hover {
  box-shadow: 0 15px 35px #4351C6,0 5px 15px rgba(0,0,0,.07);
    }
}
.card-pillow-show{
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img{
    background-size: cover;
    height: 422px;
    width: 445px;
    background-position: 50%;
    margin: auto;
  }
}

.pillow-card-content{
  padding: 15px;
  height: 132px;
  h2 {
    color: rgb(72, 72, 72);
  }

  h3{
    color: rgb(118, 118, 118);
  }
  p{
    color: rgb(118, 118, 118);
  }
}

.pillow-card-image{
  background-size: cover;
  height: 300px;
  width: 300px;
  background-position: 50%;
  border-radius: 4px;
  margin: 4px;
}

.a-in-card {
  margin: auto;
  margin-top: 27px;
}

.card-booking-product {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}


.card-booking-info {
  padding-left: 50px;
}
