.info-booking-container{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  margin: 16px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.date-booking-container{
  display: flex;
  justify-content: space-between;
  width: 400px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  margin: auto;
  padding: 8px;
  vertical-align: baseline;
}

