.info-booking-container{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
}

.date-booking-container{
  display: flex;
  justify-content: space-between;
  width: 400px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  margin: auto;
  padding: 8px;
  vertical-align: baseline;
}

