// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "show-card";
@import "wrapper";
@import "form-new";
@import "button";
@import "container";

a {
  text-decoration: none !important;
}

#center-top {
  text-align: center;
}

.funky-pic {
  background-image: url(image_path("dark-funky"));
  height: 19px;
}
