#h1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.card-product-infos {
  overflow: hidden;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px 0px;
  padding: 10px;
}

.fa-star {
  color: #4351C6;
}
