.wrapper {
  width: 1140px;
  margin: 0 auto;
  // background-image: url(image_path("Sheets"));
}
.navbar-wrapper {
  width: 1140px;
  margin: 0 auto;
}

.wrapper-margin-top{
 margin-top: 24px;
}

.wrapper-index{
  border-radius: 4px;
}
