<h1 style='text-align:center;'> Add a review</h1>
<div class="form-container">
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content %>
    <%= f.submit class: "button-detail"%>
  <% end %>
</div>
